body {
	width: 100%;
    background-color: #212529;
    color: white;
    
}
body > .container {
    padding-top: 60px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding: 0 0 0 0;
}

.img-thumbnail {
    margin: 2% 2% 2% 2%;
    width: 250px;
    height: 250px;
    cursor: zoom-in;
}

.text-muted {
    color: white!important;
}

form > * {
    padding: 4% 0 4% 0;
}

.modal-footer{
    justify-content: center;
}

p {
    margin: 0 0 0 0;
}

i {
    padding: 2% 1% 0 1%;
    color: white;
}

footer {
    background-color: #343a40!important;
}

.jumbotron {
    background-color: #343a40!important;
    margin-bottom: 0;
}

.carousel-inner{
  width:100%;
  max-height: 400px !important;
}

.row {
    margin: 0 0 0 0;
}

.jumbotron-fluid {
    margin: 2% 0 2% 0;
}

.carousel-caption {
    position: unset!important;
}

.btn-dark {
    background-color: #212529;
}

.nav-item:hover { 
    border-top: 3px solid #CFB53B;
    transition: border-top 100ms;
}

.nav-link:hover {
    color: #CFB53B !important;
    transition: color 300ms
}

.active {
    color: #CFB53B !important;
    border-top: 3px solid #CFB53B;
}

.active > a {
    color: #CFB53B !important;
}

.navbar {
    padding: 0px;
}

.nav-item:nth-child(n+2) {
    border-left: 2px solid white;
}

.modal-content {
    background-color: #343a40!important;
    border-radius: 0px;
    padding: 2% 0 2% 0;
}

.modal-footer, .modal-header {
    border: 0px solid black;
}

.carousel-item.active {
    border: 0px solid black !important;
}

.imagesProducts {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}